html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

/* To avoid the facebook like button breaking the page width */
#likebox-wrapper * {
   width: 100% !important;
}